.wrapper {
  min-height: 100vh;
  background: #000;
  color: rgb(221, 221, 221);
}

.main {
  min-height: calc(100vh - 150px);
}
.table,
tr,
td,
th {
  background: transparent !important;
  color: white !important;
}

.in {
  color: greenyellow !important;
}
.out {
  color: red !important;
}

.customChart {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}
